In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib notebook
%matplotlib notebook

In [2]:
# International segment monthly data from all carriers
all_2005 = pd.read_csv('./413215462_T_T100_SEGMENT_ALL_CARRIER.csv')   
columns = ['DEPARTURES_SCHEDULED', 'DEPARTURES_PERFORMED', 'SEATS',
           'PASSENGERS', 'DISTANCE', 'AIR_TIME',
           'UNIQUE_CARRIER', 'AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
           'UNIQUE_CARRIER_ENTITY', 'REGION', 'CARRIER', 'CARRIER_NAME',
           'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'ORIGIN_AIRPORT_ID',
           'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
           'ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME',
           'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
           'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_COUNTRY',
           'DEST_COUNTRY_NAME', 'DEST_WAC', 'AIRCRAFT_GROUP', 'AIRCRAFT_TYPE',
           'AIRCRAFT_CONFIG', 'DISTANCE_GROUP', 'CLASS']


all_2005 = all_2005[columns]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
0,0.0,30.0,8946.0,8191.0,4801.0,0.0,BA,19540,British Airways Plc,9493E,...,SEA,"Seattle, WA",US,United States,93,8,819,1,10,F
1,0.0,1.0,6.0,1.0,50.0,31.0,4Y,20324,Yute Air Aka Flight Alaska,06964,...,CYF,"Chefornak, AK",US,United States,1,0,35,1,1,F
2,0.0,19.0,0.0,0.0,347.0,1043.0,KR,20302,Kitty Hawk Aircargo,06688,...,PHX,"Phoenix, AZ",US,United States,81,7,715,2,1,P
3,0.0,6.0,54.0,8.0,40.0,106.0,8E,20331,Bering Air Inc.,06992,...,LUR,"Cape Lisburne, AK",US,United States,1,4,416,1,1,F
4,0.0,13.0,2236.0,2116.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,622,1,4,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442105,1467.0,1448.0,13032.0,8116.0,30.0,22589.0,9K,20253,Cape Air,07021,...,ACK,"Nantucket, MA",US,United States,13,1,125,1,1,F
442106,1468.0,1464.0,13176.0,8868.0,30.0,22838.0,9K,20253,Cape Air,07021,...,ACK,"Nantucket, MA",US,United States,13,1,125,1,1,F
442107,1486.0,1482.0,13338.0,9467.0,30.0,23119.0,9K,20253,Cape Air,07021,...,HYA,"Hyannis, MA",US,United States,13,1,125,1,1,F
442108,1554.0,1549.0,13941.0,9273.0,30.0,24164.0,9K,20253,Cape Air,07021,...,ACK,"Nantucket, MA",US,United States,13,1,125,1,1,F
442109,2080.0,26.0,234.0,128.0,172.0,0.0,LW,20300,Pacific Wings Airlines,07020,...,HNL,"Honolulu, HI",US,United States,2,4,416,1,1,F

In [3]:
# 255 WWLMINET network airport list
airport_list = pd.read_excel('./GHG and cost LC stages System Expansion.xlsx', sheet_name='Airport List Map')

# Parse based on the origin and destination
all_2005 = all_2005[all_2005['ORIGIN'].isin(airport_list.Code) & all_2005['DEST'].isin(airport_list.Code)]
all_2005.to_csv ('./prefilter_new_routes.csv') # unfiltered, domestic and trans-Atlantic routes, with monthly demand
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
0,0.0,30.0,8946.0,8191.0,4801.0,0.0,BA,19540,British Airways Plc,9493E,...,SEA,"Seattle, WA",US,United States,93,8,819,1,10,F
2,0.0,19.0,0.0,0.0,347.0,1043.0,KR,20302,Kitty Hawk Aircargo,06688,...,PHX,"Phoenix, AZ",US,United States,81,7,715,2,1,P
4,0.0,13.0,2236.0,2116.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,622,1,4,F
5,0.0,43.0,8342.0,8016.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,625,1,4,F
6,0.0,1.0,148.0,52.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,655,1,4,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [4]:
# filtered out the all cargo carrier data based on the carrier group id
all_2005 = all_2005[all_2005['CARRIER_GROUP_NEW'] != 7]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
0,0.0,30.0,8946.0,8191.0,4801.0,0.0,BA,19540,British Airways Plc,9493E,...,SEA,"Seattle, WA",US,United States,93,8,819,1,10,F
2,0.0,19.0,0.0,0.0,347.0,1043.0,KR,20302,Kitty Hawk Aircargo,06688,...,PHX,"Phoenix, AZ",US,United States,81,7,715,2,1,P
4,0.0,13.0,2236.0,2116.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,622,1,4,F
5,0.0,43.0,8342.0,8016.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,625,1,4,F
6,0.0,1.0,148.0,52.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,655,1,4,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [5]:
# filtered out the freight configuration aircraft
all_2005 = all_2005[all_2005['AIRCRAFT_CONFIG'] != 2]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
0,0.0,30.0,8946.0,8191.0,4801.0,0.0,BA,19540,British Airways Plc,9493E,...,SEA,"Seattle, WA",US,United States,93,8,819,1,10,F
4,0.0,13.0,2236.0,2116.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,622,1,4,F
5,0.0,43.0,8342.0,8016.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,625,1,4,F
6,0.0,1.0,148.0,52.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,655,1,4,F
9,0.0,1.0,120.0,120.0,547.0,80.0,DL,19790,Delta Air Lines Inc.,01260,...,DCA,"Washington, DC",US,United States,38,6,619,1,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [6]:
# filtered out seaplane
all_2005 = all_2005[all_2005['AIRCRAFT_CONFIG'] != 4]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
0,0.0,30.0,8946.0,8191.0,4801.0,0.0,BA,19540,British Airways Plc,9493E,...,SEA,"Seattle, WA",US,United States,93,8,819,1,10,F
4,0.0,13.0,2236.0,2116.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,622,1,4,F
5,0.0,43.0,8342.0,8016.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,625,1,4,F
6,0.0,1.0,148.0,52.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,655,1,4,F
9,0.0,1.0,120.0,120.0,547.0,80.0,DL,19790,Delta Air Lines Inc.,01260,...,DCA,"Washington, DC",US,United States,38,6,619,1,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [7]:
# filtered out the all cargo scheduled service, unscheduled passenger service
all_2005 = all_2005[all_2005['CLASS'].isin(['F','A','C','E'])]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
0,0.0,30.0,8946.0,8191.0,4801.0,0.0,BA,19540,British Airways Plc,9493E,...,SEA,"Seattle, WA",US,United States,93,8,819,1,10,F
4,0.0,13.0,2236.0,2116.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,622,1,4,F
5,0.0,43.0,8342.0,8016.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,625,1,4,F
6,0.0,1.0,148.0,52.0,1506.0,0.0,AV,19537,Aerovias Nacl De Colombia,9327A,...,BOG,"Bogota, Colombia",CO,Colombia,327,6,655,1,4,F
9,0.0,1.0,120.0,120.0,547.0,80.0,DL,19790,Delta Air Lines Inc.,01260,...,DCA,"Washington, DC",US,United States,38,6,619,1,2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [8]:
# filtered out routes by international/foreign carriers based on the carrier group id
all_2005 = all_2005[all_2005['CARRIER_GROUP_NEW'] != 0]
all_2005 = all_2005[all_2005['CARRIER_GROUP'] != 0]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
9,0.0,1.0,120.0,120.0,547.0,80.0,DL,19790,Delta Air Lines Inc.,01260,...,DCA,"Washington, DC",US,United States,38,6,619,1,2,F
10,0.0,1.0,150.0,128.0,732.0,107.0,DL,19790,Delta Air Lines Inc.,01260,...,DFW,"Dallas/Fort Worth, TX",US,United States,74,6,656,1,2,F
13,0.0,2.0,248.0,147.0,1587.0,408.0,HP,19991,America West Airlines Inc.,06049,...,PHX,"Phoenix, AZ",US,United States,81,6,698,1,4,F
14,0.0,2.0,300.0,181.0,347.0,108.0,HP,19991,America West Airlines Inc.,06049,...,PHX,"Phoenix, AZ",US,United States,81,6,694,1,1,F
19,0.0,1.0,150.0,99.0,221.0,109.0,DL,19790,Delta Air Lines Inc.,01260,...,TYS,"Knoxville, TN",US,United States,54,6,614,1,1,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [9]:
all_2005 = all_2005[all_2005['DEPARTURES_SCHEDULED'] > 0]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
183661,1.0,1.0,148.0,134.0,247.0,42.0,AA,19805,American Airlines Inc.,0A050,...,DFW,"Dallas/Fort Worth, TX",US,United States,74,6,614,1,1,F
183662,1.0,1.0,50.0,50.0,299.0,51.0,RP,20418,Chautauqua Airlines Inc.,06947,...,ORD,"Chicago, IL",US,United States,41,6,675,1,1,F
183663,1.0,1.0,37.0,34.0,292.0,60.0,RP,20418,Chautauqua Airlines Inc.,06947,...,RIC,"Richmond, VA",US,United States,38,6,674,1,1,F
183664,1.0,1.0,70.0,47.0,299.0,49.0,S5,20448,Shuttle America Corp.,06911,...,ORD,"Chicago, IL",US,United States,41,6,677,1,1,F
183665,1.0,1.0,50.0,43.0,292.0,84.0,MQ,20398,Envoy Air,06820,...,RIC,"Richmond, VA",US,United States,38,6,675,1,1,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [10]:
all_2005 = all_2005[(all_2005['PASSENGERS'] > 0) & (all_2005['SEATS'] > 0)]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
183661,1.0,1.0,148.0,134.0,247.0,42.0,AA,19805,American Airlines Inc.,0A050,...,DFW,"Dallas/Fort Worth, TX",US,United States,74,6,614,1,1,F
183662,1.0,1.0,50.0,50.0,299.0,51.0,RP,20418,Chautauqua Airlines Inc.,06947,...,ORD,"Chicago, IL",US,United States,41,6,675,1,1,F
183663,1.0,1.0,37.0,34.0,292.0,60.0,RP,20418,Chautauqua Airlines Inc.,06947,...,RIC,"Richmond, VA",US,United States,38,6,674,1,1,F
183664,1.0,1.0,70.0,47.0,299.0,49.0,S5,20448,Shuttle America Corp.,06911,...,ORD,"Chicago, IL",US,United States,41,6,677,1,1,F
183665,1.0,1.0,50.0,43.0,292.0,84.0,MQ,20398,Envoy Air,06820,...,RIC,"Richmond, VA",US,United States,38,6,675,1,1,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [11]:
all_2005 = all_2005[all_2005['DISTANCE'] != 0]
all_2005

,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,...,DEST,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,AIRCRAFT_GROUP,AIRCRAFT_TYPE,AIRCRAFT_CONFIG,DISTANCE_GROUP,CLASS
183661,1.0,1.0,148.0,134.0,247.0,42.0,AA,19805,American Airlines Inc.,0A050,...,DFW,"Dallas/Fort Worth, TX",US,United States,74,6,614,1,1,F
183662,1.0,1.0,50.0,50.0,299.0,51.0,RP,20418,Chautauqua Airlines Inc.,06947,...,ORD,"Chicago, IL",US,United States,41,6,675,1,1,F
183663,1.0,1.0,37.0,34.0,292.0,60.0,RP,20418,Chautauqua Airlines Inc.,06947,...,RIC,"Richmond, VA",US,United States,38,6,674,1,1,F
183664,1.0,1.0,70.0,47.0,299.0,49.0,S5,20448,Shuttle America Corp.,06911,...,ORD,"Chicago, IL",US,United States,41,6,677,1,1,F
183665,1.0,1.0,50.0,43.0,292.0,84.0,MQ,20398,Envoy Air,06820,...,RIC,"Richmond, VA",US,United States,38,6,675,1,1,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442077,813.0,788.0,29156.0,21680.0,129.0,30227.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442078,817.0,785.0,29045.0,21437.0,129.0,32354.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F
442079,818.0,779.0,28823.0,21968.0,129.0,29884.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442080,846.0,816.0,30192.0,24439.0,129.0,31195.0,QX,19687,Horizon Air,06580,...,PDX,"Portland, OR",US,United States,92,4,483,1,1,F
442081,848.0,828.0,30636.0,23089.0,129.0,31697.0,QX,19687,Horizon Air,06580,...,SEA,"Seattle, WA",US,United States,93,4,483,1,1,F

In [12]:
# Aggregate the data together into the yearly performance by airlines
# Removed UNIQUE_CARRIER and CARRIER to avoid an airline missing those entries
index_column = ['AIRLINE_ID', 'UNIQUE_CARRIER_NAME',
                'UNIQUE_CARRIER_ENTITY', 'REGION','CARRIER_NAME',
                'CARRIER_GROUP', 'CARRIER_GROUP_NEW', 'ORIGIN_AIRPORT_ID',
                'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN',
                'ORIGIN_CITY_NAME', 'ORIGIN_COUNTRY', 'ORIGIN_COUNTRY_NAME',
                'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
                'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_COUNTRY',
                'DEST_COUNTRY_NAME', 'DEST_WAC']
group_2005 = all_2005.groupby(index_column).agg({'DEPARTURES_SCHEDULED': 'sum', 
                                                 'DEPARTURES_PERFORMED': 'sum',  
                                                 'SEATS': 'sum', 
                                                 'PASSENGERS': 'sum',  
                                                 'DISTANCE': 'mean', 
                                                 'AIR_TIME': 'mean'})

group_2005.reset_index(inplace=True)
group_2005

,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DEST_CITY_NAME,DEST_COUNTRY,DEST_COUNTRY_NAME,DEST_WAC,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME
0,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10140,1014001,30140,...,"Minneapolis, MN",US,United States,63,732.0,731.0,104372.0,87437.0,981.0,4505.380952
1,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10257,1025701,30257,...,"Detroit, MI",US,United States,43,1341.0,1219.0,137984.0,100038.0,488.0,3133.354839
2,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10299,1029902,30299,...,"Detroit, MI",US,United States,43,103.0,99.0,18100.0,14790.0,2986.0,6810.000000
3,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10299,1029902,30299,...,"Minneapolis, MN",US,United States,63,1035.0,1028.0,196532.0,157351.0,2518.0,15049.500000
4,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10397,1039703,30397,...,"Detroit, MI",US,United States,43,2457.0,2396.0,289656.0,225944.0,594.0,3783.789474
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,20500,GoJet Airlines LLC d/b/a United Express,07041,D,GoJet Airlines LLC d/b/a United Express,1,1,15016,1501602,31123,...,"Reno, NV",US,United States,85,10.0,10.0,660.0,86.0,1574.0,2164.000000
11429,20500,GoJet Airlines LLC d/b/a United Express,07041,D,GoJet Airlines LLC d/b/a United Express,1,1,15096,1509601,35096,...,"Chicago, IL",US,United States,41,34.0,34.0,2244.0,2122.0,607.0,3231.000000
11430,20500,GoJet Airlines LLC d/b/a United Express,07041,D,GoJet Airlines LLC d/b/a United Express,1,1,15370,1537001,34653,...,"Chicago, IL",US,United States,41,156.0,154.0,10164.0,6149.0,585.0,4268.333333
11431,20502,MAXjet,17050,A,MAXjet,1,4,12478,1247801,31703,...,"London, United Kingdom",GB,United Kingdom,493,48.0,43.0,4386.0,1449.0,3471.0,9054.500000
11432,20502,MAXjet,17050,A,MAXjet,1,4,15018,1501802,30730,...,"New York, NY",US,United States,22,24.0,21.0,2142.0,889.0,3471.0,10244.000000

In [13]:
# Add identification A-B route = B-A route
group_2005['ROUTE'] = group_2005.apply(lambda x: x.ORIGIN+'-'+x.DEST if x.ORIGIN > x.DEST 
                                       else x.DEST+'-'+x.ORIGIN, axis=1)
group_2005['DIRROUTE'] = group_2005.apply(lambda x: x.ORIGIN+'-'+x.DEST, axis =1)
group_2005

,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER_NAME,CARRIER_GROUP,CARRIER_GROUP_NEW,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DEST_COUNTRY_NAME,DEST_WAC,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME,ROUTE,DIRROUTE
0,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10140,1014001,30140,...,United States,63,732.0,731.0,104372.0,87437.0,981.0,4505.380952,MSP-ABQ,ABQ-MSP
1,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10257,1025701,30257,...,United States,43,1341.0,1219.0,137984.0,100038.0,488.0,3133.354839,DTW-ALB,ALB-DTW
2,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10299,1029902,30299,...,United States,43,103.0,99.0,18100.0,14790.0,2986.0,6810.000000,DTW-ANC,ANC-DTW
3,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10299,1029902,30299,...,United States,63,1035.0,1028.0,196532.0,157351.0,2518.0,15049.500000,MSP-ANC,ANC-MSP
4,19386,Northwest Airlines Inc.,01600,D,Northwest Airlines Inc.,3,3,10397,1039703,30397,...,United States,43,2457.0,2396.0,289656.0,225944.0,594.0,3783.789474,DTW-ATL,ATL-DTW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11428,20500,GoJet Airlines LLC d/b/a United Express,07041,D,GoJet Airlines LLC d/b/a United Express,1,1,15016,1501602,31123,...,United States,85,10.0,10.0,660.0,86.0,1574.0,2164.000000,STL-RNO,STL-RNO
11429,20500,GoJet Airlines LLC d/b/a United Express,07041,D,GoJet Airlines LLC d/b/a United Express,1,1,15096,1509601,35096,...,United States,41,34.0,34.0,2244.0,2122.0,607.0,3231.000000,SYR-ORD,SYR-ORD
11430,20500,GoJet Airlines LLC d/b/a United Express,07041,D,GoJet Airlines LLC d/b/a United Express,1,1,15370,1537001,34653,...,United States,41,156.0,154.0,10164.0,6149.0,585.0,4268.333333,TUL-ORD,TUL-ORD
11431,20502,MAXjet,17050,A,MAXjet,1,4,12478,1247801,31703,...,United Kingdom,493,48.0,43.0,4386.0,1449.0,3471.0,9054.500000,STN-JFK,JFK-STN
11432,20502,MAXjet,17050,A,MAXjet,1,4,15018,1501802,30730,...,United States,22,24.0,21.0,2142.0,889.0,3471.0,10244.000000,STN-JFK,STN-JFK

In [14]:
dir_2005 = group_2005.groupby(['DIRROUTE']).agg({'DEPARTURES_SCHEDULED': 'sum', 
                                                                'DEPARTURES_PERFORMED': 'sum', 
                                                                #'PAYLOAD': 'sum', 
                                                                'SEATS': 'sum', 
                                                                'PASSENGERS': 'sum', 
                                                                #'FREIGHT': 'sum', 
                                                                #'MAIL': 'sum', 
                                                                'DISTANCE': 'mean', 
                                                                #'RAMP_TO_RAMP': 'mean', 
                                                                'AIR_TIME': 'mean'})
dir_2005.reset_index(inplace=True)
dir_2005

,DIRROUTE,DEPARTURES_SCHEDULED,DEPARTURES_PERFORMED,SEATS,PASSENGERS,DISTANCE,AIR_TIME
0,ABQ-ATL,1396.0,1379.0,226477.0,160767.0,1269.0,8524.320000
1,ABQ-BWI,365.0,364.0,49868.0,43747.0,1670.0,4672.647727
2,ABQ-CLE,15.0,15.0,750.0,676.0,1411.0,528.400000
3,ABQ-COS,569.0,553.0,10889.0,4994.0,280.0,828.666667
4,ABQ-CVG,800.0,795.0,132522.0,96517.0,1240.0,7438.500000
...,...,...,...,...,...,...,...
4843,ZRH-EWR,360.0,359.0,62952.0,50123.0,3946.0,10112.111111
4844,ZRH-IAD,366.0,365.0,70459.0,53228.0,4158.0,8339.250000
4845,ZRH-JFK,346.0,344.0,72959.0,58875.0,3931.0,13114.307692
4846,ZRH-OKC,1.0,1.0,213.0,206.0,5135.0,646.000000
4847,ZRH-ORD,1.0,1.0,207.0,89.0,4443.0,580.000000

In [15]:
# HERE: filtered, directional routes with yearly demand, all airlines combined
dir_2005.to_csv('./best_guessed_2005_yearly.csv')